{{#each news}}
<div class="card left" data-id="{{this.id}}">
	<div class="card-image">
		<img src="{{this.photoUrl}}">
		<span class="card-title">{{this.title}}</span>
	</div>
	<div class="card-content">
		<p>{{this.body}}</p>
	</div>
	<ul class="card-action collapsible" data-collapsible="accordion">
		<li><a class="collapsible-header" href="http://news.mit.edu{{this.url}}" target="_blank">Link</a></li>
		<li>
			<div class="collapsible-header">Comments</div>
			<div class="collapsible-body">
				<ul>
					{{#each this.notesList}}
					<li class="left-align" data-note-id="{{this.id}}">#{{@index}}: {{this.note}}<button class="btn-flat">X</button></li>
					{{/each}}
				</ul>
				<form class="input-field" onsubmit="return false">
					<input type="hidden" name="id" value="{{this.id}}">
					<input placeholder="Your comment" name="note" type="text" class="validate">
					<button class="btn">Add comment</button>
				</form>
			</div>
		</li>
	</ul>
</div>
{{/each}}

